* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
  }
  .header {
    background-color: green;
    color: black;
    text-align: center;
    padding: 15px;
    font-size: 25px;
  }
  .navbar {
    background-color: #454545;
    display: flex;
    /* aligns the flex items at the center of the container */
    justify-content: center;
  }
  .navbar a {
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    justify-content: center;
    /* make it in the middle when it shrinks (less than 800px) */
    text-align: center;
  }
  .navbar a:hover {
    background-color: #bababa;
    color: black;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .column-left {
    flex: 30%;
    background-color: #c5c5c5;
    padding: 20px;
  }
  .image-placeholder {
    background-color: #696969;
    width: 100%;
    padding: 20px;
  }
  .column-main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  /* Footer */
  .footer {
    background: #e8e8e8;
    padding: 20px;
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    .column-left,
    .navbar {
      flex-direction: column;
    }
  }