* {
    box-sizing: border-box;
  }
  body {
    background-color: #a6c1ff;
    font-family: "Courier New", Courier, monospace;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .container {
    background-color: #dbf3ff;
    padding: 25px;
    border-radius: 10px;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 48px;
    /* when using display: inline-block;, the element does not 
    automatically 
    force the following 
    element to start on a new line. */
    display: inline-block;
  }

  input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: right;
  }
  @media screen and (max-width: 760px) {
    .col-25,
    .col-75,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 1200px) {
    label {
      padding: 2% 2% 2% 2%;
    }
  }